<div class="contact-container">
    <h1>Contact</h1>
    <p><i class="fa fa-envelope" aria-hidden="true"></i>: lauranpham.dev@gmail.com</p>
    <div class="form-container">
    <form>
    <h3>Contact Form</h3>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="message">Message:</label><br>
            <input type="text" id="message" name="message"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
